body {
    background-color: #ae9780;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #b85f6c;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    padding: 40px 20px 15px;
    border-radius: 5px;
}
header>section {
    box-sizing: content-box;
    color: #474747;
    background: #cd8b56;
    padding: 10px 20px;
    font-size: xx-large;
    font-family: cursive;
    border-radius: 20px;
    border: #4d8f8f;
    border-style: dotted;
}
nav>a {
    align-content: space-between;
    padding: 40px 15px 5px 15px;
    font-family: sans-serif;
}
.banner {
    display: flex;
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../Images/poshmark-banner.png);
    background-size: cover;
    background-position: unset;
    justify-content: right;
    flex-wrap: wrap;
    align-content: flex-end;
}
.quote-text{
    background-color: #474747;
    color: #4d8f8f;
    font-size: large;
    font-family: cursive;
    display: flex;
    width: 176px;
    margin-bottom: 30px;
    margin-right: 12px;
    height: 94px;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 12px;
}
aside {
    display: flex;
    font-size: 50px;
    font-family: sans-serif;
    margin: 40px;
    border-right:grey;   ;
    width: 150px;
    height: 150px;
    align-items: center;
    flex-wrap: wrap;
    border-style: groove;
    border-right: #474747;
}
p{
    height: 150px;
    width:600px;
    font-family: sans-serif;
}
.aboutme{
    display: flex;
    justify-content: left;
}
.bio{
    display: flex;
    justify-content: left;
     align-items: center;
     font-size:175%;
     padding-left: 65px;
 }
.bio>img{
    display: flex;
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.work {
    display: flex;
    justify-content: left;

}
.splash>main {
    padding-top: 40px;   
    display: flex;
    flex-wrap: wrap;
}
a>img {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 857px;
    border-radius: 19px;
    padding-left: 111px;
    padding-right: 80px;
}
.big-picture{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    margin-left: 245px;
    margin-right: 245px;
   font-size: 28px;
   font-family: sans-serif
}
.littleimages{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 350px;
}
item>img {
    display: flex;
    height: 400px;
    width: auto;
    padding-top: 60px;
    padding-left: 120px;
    padding-right:70px
    
}
item>strong {
    display: flex;
    margin-left: 225px;
    margin-right: 225px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: whitesmoke
}
img {
    display: flex;
    border-radius: 10px;  
}
.contact>section {
    display:flex;
    justify-content: space-around;
    padding-bottom: 50px;
    font-family: sans-serif;
    font-size: 30px;

}