body {
    background-color: sandybrown;
    margin: 0%;
}
header{
    background-color: salmon;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    padding: 40px 20px 15px;
    border-radius: 5px;
}
header>section {
    box-sizing: content-box;
    color: #474747;
    background: sandybrown;
    padding: 10px 20px;
    font-size: xx-large;
    font-family: cursive;
    border-radius: 20px;
    border: #4d8f8f;
    border-style: dotted;
}
nav>a {
    align-content: space-between;
    padding: 40px 15px 5px 15px;
    font-family: sans-serif;
}
#banner{
    display: flex;
    background-image: url(Assets/Images/poshmark-banner.png);
    justify-content: flex-end;
    align-items: baseline;
    padding-top: 300px;
    padding-bottom: 20px;
    padding-right: 20px;
}

#quote-text{
    background-color: #474747;
    color: #4d8f8f;
    font-size: large;
    font-family: cursive;
    display: flex;
    padding-right: 15px;
    width: fit-content;
    justify-content: flex-end;
    align-items: baseline;
}
#about-me{
    padding: 15px;
    margin: 15px;
    align-content: space-between
}
#aside{
    display: flex;
    text-align: center;
    width: 10%;
    border: #474747;
    background-color: beige;
    font-size: 50px;
}

#content{
    display: flex;
    width: 40%;
    border: #474747;
    background-color: beige;
    font-size: 25px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}